{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_Boleto %}
        Add Boleto
    {% else %}
        Edit Boleto
    {% endif %}
{% endblock %}
{% block body %}
{{ utils.flashed_messages() }}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_Ticker %}
                <h1>Add Ticker</h1>
            {% else %}
                <h1>Edit Ticker</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
