{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}alycs{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">alycs</h1>
        {% if alycs %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="20%"> Contraparte </th>
                  <th width="20%"> Commitent </th>
                

                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for alyc in alycs %}
                <tr>
                  <td> {{ alyc.name }} </td>
                  <td> {{ alyc.contraparte }} </td>
                  <td> {{ alyc.commitent }} </td>

                  <td>
                    <a href="{{ url_for('admin.edit_alyc', id=alyc.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_alyc', id=alyc.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No alycs have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_alyc') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add alyc
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
